.body {
    overflow: auto;
    min-width: 330px;
}

.video-display {
    padding: 0 1rem;
}

.survey {
    margin-bottom: 100px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.survey__video-description {
    display: flex;
    width: fit-content;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.survey__video {
    display: flex;
    align-items: flex-end;
    gap: 22px;
    color: #121212;
}

.survey__video-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.75rem;
}

.survey__duration {
    font-weight: 600;
}

.survey__series {
    display: flex;
    align-items: center;
    gap: 6px;
}

.survey__series-name {
    font-weight: 500;
}

.survey__number-of-treatment {
    font-weight: 500;
}

.survey__text {
    width: 56%;
    margin: 4px 0 2px;
}

.survey__related-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.survey__related-info-link {
    font-weight: 500;
    font-size: 20px;
    color: #3B7EFF;
}

.survey__related-info-link:focus,
.survey__related-info-link:hover {
    text-decoration: underline;
}

.survey .therapist {
    flex-direction: column;
    align-items: flex-end;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__back,
.navigation__next {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 500;
}

.navigation__text {
    color: #58585D;
}

.navigation__back .navigation__text {
    margin-left: 1.5rem;
}

.navigation__next .navigation__text {
    margin-right: 1.5rem;   
}

.navigation__next {
    align-items: end;
}

.navigation__button {
    font-size: 1.5rem;
    color: #58585D;
    display: flex;
    align-items: center;
    transition: color 0.1s ease;
}

.navigation__button > .material-symbols-outlined {
    transition: color 0.1s ease;
}

.navigation__button:hover,
.navigation__button:focus {
    color: #121212;
}

.navigation__button:hover .material-symbols-outlined,
.navigation__button:focus .material-symbols-outlined {
    color: #3B7EFF;
}

.material-symbols-outlined--arrow-forward {
    transform: rotate(180deg);
}

/* .video {
    margin-bottom: 24px;
    position: relative;
}

.video__element {
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 63.55vh;
}

.video__element--no-controls::-webkit-media-controls {
    display: none;
}

.video__play-button {
    font-size: 7.25rem;
    width: fit-content;
    height: fit-content;
    color: white;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    cursor: pointer;
    transition: color 0.1s ease;
}

.video__play-button:hover {
    color: #3B7EFF;
}
 */
@media (max-width: 1460px) {
    .survey__text {
        width: 85%;
    }
}

@media (max-width: 1440px) {
    .main {
        padding: 16px;
    }
}

@media (max-width: 1200px) {
    .video__element {
        height: 50vh;
        min-height: 50vw;
    }
}

@media (max-width: 800px) {
    .survey {
        flex-direction: column;
        align-items: flex-start;
    }

    .survey .therapist {
        align-items: flex-start;
    }
    
    .video-display {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .video__play-button {
        font-size: 6.25rem;
    }

    .survey__series {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 13px;
    }
}
